<section class="layout">
    <div class="seccion1">
        <img src="assets/imagen/Intro.png" alt="">
        <p class="subirtexto">Pixel - Craft</p>
     </div>
     <div class="seccion2">
        <p class="subirtexto">
            Categoria por edad:
        </p>
        <div class="image">
            <a href="">
                <img src="assets/imagen/Categoria 1.png" alt="Imagen 1">
                <span class="overlay-text">Todos</span>
            </a>
        </div>
        <div class="image">
            <a href="">
                <img src="assets/imagen/Categoria 2.png" alt="Imagen 2">
                <span class="overlay-text">Mayor a 10</span>
            </a>
        </div>
        <div class="image">
            <a href="">
                <img src="assets/imagen/Categoria 3.png" alt="Imagen 3">
                <span class="overlay-text">Mayor a 13</span>
            </a>
        </div>
    </div>
    <h1>Bienvenido a PixelCraft</h1><br>
    <div class="seccion3">
        
        <div class="left-column">
            "🎮 PixelCraft es mucho más que una simple tienda de videojuegos, es tu ventanilla única para todo lo relacionado con el mundo de los juegos. Nuestra pasión es proporcionar a los jugadores la experiencia definitiva, y para lograrlo, ofrecemos una amplia y emocionante selección de los títulos más recientes y los accesorios más avanzados.

¿Eres un amante de la emoción de los juegos de supervivencia? ¿O prefieres sumergirte en la tensión del terror? ¿Quizás te apasionan las aventuras épicas que te llevan a mundos lejanos? Sea cual sea tu estilo de juego, en PixelCraft lo tenemos cubierto.

Y eso no es todo. En PixelCraft, siempre estamos buscando maneras de hacer que jugar sea aún más emocionante. Mantente atento a nuestras promociones y ofertas especiales para ahorrar dinero en tus compras. Queremos que disfrutes al máximo de tu pasión por los videojuegos, y estamos comprometidos a hacer que eso suceda.

Así que, ¿qué esperas? ¡Únete a nosotros y déjanos llevarte a un mundo de diversión y entretenimiento! En PixelCraft, no solo vendemos juegos, vivimos los juegos. ¡Vamos a jugar! 🕹️💥"
        </div>
        <div class="right-column">
            <img src="assets/imagen/Jugador.png" alt="">
        </div>
    </div>
    

    
  </section>

