<nav class="navbar navbar-expand-lg ">
  
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        Menu <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <img src="https://i.ibb.co/7bBn5F4/Logo-Tipo-Video-Juego.png" width="40 px" style="margin: 0px 1%;" >
        <a class="navbar-brand" href="#" >PixelCraft</a>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link " href="#">Juegos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contacto</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn" type="submit"><img class="icono" src="assets/imagen/cohete.png"></button>
          <button class="login"><img src="" alt=""></button>
        </form>
        
      </div>
    </div>
  </nav>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>